global-exclude *.py[cod]
include VERSION
include README
include pyproject.toml
recursive-include comment *.py
recursive-include comment/static *
recursive-include comment/templates *
recursive-include docs/source *
prune comment/tests
