<section id="comments" class="{% block btn_name %}my-5 mx-3{% endblock btn_name %}">
    <strong class="border-bottom bb"><span class="js-comment-number">{{model_object.comments.all.count}}</span> Comments</strong>
    <hr class="hr"/>
    <div class="js-comment comment mb-5">
        {% include 'comment/create_comment.html' with button_name='comment' is_child=False placeholder="comment on this post..." %}
    </div>
    <div class="js-main-comment mt-5">
      {% for comment in comments %}
          {% include 'comment/parent_comment.html' %}
      {% endfor %}
    </div>
    <div class="modal fade" id="Modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
    </div>
    {% if paginate and comments.paginator.num_pages > 1 %}
    {% block pagination %}
    {% include 'comment/pagination.html' with active_btn='bg-success' text_style='text-success' li_cls='page-item rounded mx-1' %}
    {% endblock pagination %}
    {% endif %}
</section>
