{% load comment_tags %}
{% load static %}
{% load i18n %}
<div class="{% block text_space %}{% if has_valid_profile %}col-10 col-md-11
            {% else %}co-12 mx-3{% endif %}{% endblock text_space %}">
    <p class="js-comment-content {% block c_text_cls %} h6 mb-0{% endblock c_text_cls %}">{{ obj.content }}</p>
    <footer class="blockquote-footer">
        <small>
            <a class="{% block user_name %}{% endblock user_name %}" href="{% get_profile_url obj %}">{{ obj.user }}</a> |
            {% if obj.is_edited %}
            <cite title="Edited">Edited: {{ obj.edited|timesince }} ago</cite>
            {% else %}
            <cite title="Posted">{{ obj.posted|timesince }} ago</cite>
            {% endif %}
            {% if obj.user == user %}
            | <a class="js-comment-edit {% block edit_link_cls %}btn btn-link{% endblock edit_link_cls %}" href="{% url 'comment:edit' pk=obj.id %}?comments_per_page={{comments_per_page}}&model_name={% get_model_name model_object %}&model_id={{ model_object.id }}&app_name={% get_app_name model_object %}&oauth={{oauth}}">edit</a>
            <button class="js-comment-delete {% block delete_btn_cls %}btn btn-link{% endblock delete_btn_cls %}" data-url="{% url 'comment:delete' pk=obj.id %}?comments_per_page={{comments_per_page}}&model_name={% get_model_name model_object %}&model_id={{ model_object.id }}&app_name={% get_app_name model_object %}&oauth={{oauth}}">delete</button>
            {% endif %}
            {% if is_parent %}
            | <span class="js-reply-number text-dark">{{ obj.replies.count }}</span>
            <a class="js-reply-link {% block reply_link_cls %}btn btn-link ml-1{% endblock reply_link_cls %}" href="#">
                Repl{% if obj.replies.count <= 1 %}y{% else %}ies{% endif %}
            </a>
            {% endif %}
        </small>
            <div class="js-comment-reactions mt-2">
                <span class="js-reply-number text-dark">{{ obj.likes }}</span>
                <a class="js-comment-like {% block like_link_cls %}" {% endblock like_link_cls %} href="{% url 'comment:react' comment_id=obj.id reaction='like' %}">
                    {% block like_img_icon %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill={% if obj|add_one_arg:user|has_reacted:"like" %}"#ffc966"{% else %}"none"{% endif %} stroke="#427297" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-up">
                        <path d="M14 9V5a3 3 0 0 0-3-3l-4 9v11h11.28a2 2 0 0 0 2-1.7l1.38-9a2 2 0 0 0-2-2.3zM7 22H4a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h3"></path>
                    </svg>
                    {% endblock like_img_icon %}
                </a>
                <span class="ml-4 js-reply-number text-dark">{{ obj.dislikes }}</span>
                <a class="js-comment-dislike {% block dislike_link_cls %}" {% endblock dislike_link_cls %} href="{% url 'comment:react' comment_id=obj.id reaction='dislike' %}">
                    {% block dislike_img_icon %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill={% if obj|add_one_arg:user|has_reacted:"dislike" %}"#ffc966"{% else %}"none"{% endif %} stroke="#427297" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round" class="feather feather-thumbs-down">
                        <path d="M10 15v4a3 3 0 0 0 3 3l4-9V2H5.72a2 2 0 0 0-2 1.7l-1.38 9a2 2 0 0 0 2 2.3zm7-13h2.67A2.31 2.31 0 0 1 22 4v7a2.31 2.31 0 0 1-2.33 2H17"></path>
                    </svg>
                    {% endblock dislike_img_icon %}
                </a>
            </div>
    </footer>
</div>
