{% load comment_tags %}
<div class="{% block text_space %}{% if profile_app_name and profile_model_name %}col-10 col-md-11
            {% else %}co-12 mx-3{% endif %}{% endblock text_space %}">
    <p class="js-comment-content {% block c_text_cls %} h6 mb-0{% endblock c_text_cls %}">{{ obj.content }}</p>
    <footer class="blockquote-footer">
        <small>
            <a class="{% block user_name %}{% endblock user_name %}" href="{% profile_url obj profile_app_name profile_model_name %}">{{ obj.user }}</a> |
            {% if obj.is_edited %}
            <cite title="Edited">Edited: {{ obj.edit_date|timesince }} ago</cite>
            {% else %}
            <cite title="Posted">{{ obj.posted_date|timesince }} ago</cite>
            {% endif %}
            {% if obj.user == user %}
            | <a class="js-comment-edit{% block edit_link_cls %}{% endblock edit_link_cls %}" href="{% url 'comment:edit' pk=obj.id %}?cpp={{cpp}}&paginate={{paginate}}&model_name={% get_model_name model_object %}&model_id={{ model_object.id }}&app_name={% get_app_name model_object %}&oauth={{oauth}}">edit</a>
            <button class="js-comment-delete {% block delete_btn_cls %}btn btn-link{% endblock delete_btn_cls %}" data-url="{% url 'comment:delete' pk=obj.id %}?cpp={{cpp}}&paginate={{paginate}}&model_name={% get_model_name model_object %}&model_id={{ model_object.id }}&app_name={% get_app_name model_object %}&oauth={{oauth}}">delete</button>
            {% endif %}
            {% if is_parent %}
            | <span class="js-reply-number text-dark">{{ obj.replies.count }}</span>
            <a class="js-reply-link {% block reply_link_cls %}ml-1{% endblock reply_link_cls %}" href="#">
                Repl{% if obj.replies.count <= 1 %}y{% else %}ies{% endif %}
            </a>
            {% endif %}
        </small>
    </footer>
</div>
