{% load comment_tags %}
<div class="row">
    {% if profile_app_name and profile_model_name %}
        <div class="{% block pic_space %}col-2 col-md-1{% endblock pic_space %}">
            <a href="{% profile_url obj profile_app_name profile_model_name %}">
                <img class="{% block img_cls %}w-100{% endblock img_cls %}"
                src="{% img_url obj profile_app_name profile_model_name %}" alt="{{obj.user.username}}">
            </a>
        </div>
    {% endif %}
    {% include 'comment/content.html' with obj=obj is_parent=is_parent text_cls=text_cls %}
</div>
