{% load comment_tags %}
<blockquote class="js-parent-comment blockquote text-wrap">
    <div class="row">
        {% if profile_app_name and profile_model_name %}
        <div class="col-2 col-md-1">
            <a href="{% profile_url comment profile_app_name profile_model_name %}">
                <img class="w-100"
                src="{% img_url comment profile_app_name profile_model_name %}" alt="{{comment.user.username}}">
            </a>
        </div>
        {% endif %}
        {% include 'comment/update_done.html' with obj=comment is_parent=True %}
    </div>
    <div class="js-replies ml-5 my-4 d-none">
        {% for reply in comment.replies %}
            {% include 'comment/child_comment.html' %}
        {% endfor %}
        {% include 'comment/create_comment.html' with button_name='reply' is_child=True placeholder="reply to this comment..." %}
    </div>
    <hr/>
</blockquote>
