{% load comment_tags %}
<div class="col-10 col-md-11">
    <form class="js-comment-edit-form" method="post" data-url="{% url 'comment:edit' pk=comment.id %}">
        {% csrf_token %}
        {% include 'comment/commentform.html' %}
        <footer class="blockquote-footer edit-comment mt-2">
            <small>
                <input name="model_name" value="{% get_model_name model_object %}" hidden>
                <input name="model_id" value="{{ model_object.id }}" hidden>
                <input name="app_name" value="{% get_app_name model_object %}" hidden>
                <input name="cpp" value="{{cpp}}" hidden>
                <input name="paginate" value="{{paginate}}" hidden>
                <input name="has_parent" value="{{has_parent}}" hidden>
                <input name="oauth" value="{{oauth}}" hidden>

                <button class="btn btn-link" type="submit" name="commentform">modify</button>
                <a class="js-comment-cancel btn btn-link" href="#">cancel</a>
            </small>
        </footer>
    </form>
</div>
