django
djangorestframework
# since django 4.0, pytz is no longer a dependency but is used for DRF
pytz
# used for testing/linting
Pillow
lxml
beautifulsoup4
cssselect
coverage
flake8
tox
# used for postgresql connection
psycopg2
